<!-- contact.ejs -->

<%- include("partials/header"); -%>
    <h1 class="contact-title">Contact</h1>
    <p class="contact-content"> <%= contactContent %> </p>
    
    <!-- Email -->
    <p class="contact-info"><i class="fas fa-envelope"></i> Email: <a href="mailto:stjepandeveloper@yahoo.com" class="link-text">stjepandeveloper@yahoo.com</a></p>

    <!-- Github -->
    <p class="contact-info"><i class="fab fa-github"></i> Github: <a href="https://github.com/stjepanDeveloper" class="link-text" target="_blank">https://github.com/stjepanDeveloper</a></p>

    <!-- LinkedIn (Add this later) -->
    <p class="contact-info"><i class="fab fa-linkedin"></i> LinkedIn: ...</p>
<%- include("partials/footer"); -%>

